body{
    background-color: goldenrod;
}
h1{
    color: aqua;
    background-color: azure;
}
#show-sketch{
    float:right
}
canvas{
    border: 5px solid white;
    border-radius: 20px ;
    animation-name: HI;
    animation-duration: 4s;
    margin-top: 50px;
    animation-iteration-count: infinite;
}
@keyframes HI{
    from{box-shadow: 1px 1px 3px gray;}
    to{box-shadow: 1px 1px 3px white;}
}
p{
    padding-top: 10px;
    font-size: 25px;
}